[submodule "src/module/client-module"]
	path = src/module/client-module
	url = https://github.com/DEV-EQBR/client-module-test
[submodule "src/module/test"]
	path = src/module/test
	url = https://github.com/HeIIoolleH/sub_project
	tag = v1.0.0
